/* custom css */
body.fixed-nav {
    padding-top: 56px;
}
.fixed-top {
    text-align: left;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
body.sticky-footer .content-wrapper {
    min-height: calc(100vh - 56px - 56px);
}
.content-wrapper {
    overflow-x: hidden;
    background: white;
    padding-top: 1rem;
    margin-left: 250px;
}
#mainNav .navbar-brand {
    width: 250px;
    color: #fff;
}
#mainNav .navbar-collapse {
    overflow: visible;
    max-height: none;
}
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav {
    background: #343a40;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 56px;
    height: calc(100vh - 112px);
    overflow-y: auto;
}
footer.sticky-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    width: calc(100% - 250px);
    height: 56px;
    background-color: #e9ecef;
    line-height: 55px;
}
#mainNav .navbar-collapse .navbar-sidenav > .nav-item {
    width: 250px;
    padding: 0;
}
#mainNav.fixed-top .sidenav-toggler > .nav-item {
    width: 250px;
    padding: 0;
}
#mainNav.fixed-top .sidenav-toggler > .nav-item > .nav-link {
    padding: 1em;
}

.navbar-dark .navbar-nav .nav-link, .navbar-nav.navbar-sidenav .nav-item a {
    color: rgba(255,255,255,.5);
    padding: .5rem 1rem;
    display: block;
}
.navbar-nav.navbar-sidenav .nav-item a span {
    margin-left: 15px;
}

body.sticky-footer .content-wrapper {
    min-height: calc(100vh - 56px - 56px);
}
#mainNav.fixed-top.navbar-dark .sidenav-toggler {
    background-color: #212529;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: calc(100vh - 56px);
}
.main{ margin-left: 256px; padding-top: 65px; }
.addTopFrmBtnWrapper {
    width: 94%;
}
.breadcrumb {
    position: relative;
}
.addTopFrmBtnWrapper {
    position: absolute;
    right: 1rem
}
.addTopFrmBtn {
    top: -5px;
    float: right;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    padding: 5px 10px;
    border-radius: 5px;
    position: relative;
    text-decoration: none;
}
.attr-option-list.row {
    margin-top: 50px;
}



